In [1]:
#P51: Exclusão
import pandas as pd

In [2]:
#1 Importa as bases de dados
flags = pd.read_csv('/Users/TullioPires/flags.csv')

In [3]:
#2 Mantém apenas os países com verde, amarelo, azul e branco na bandeira
flags = flags.loc[(flags['green'] == 1) &
                 (flags['gold'] == 1) &
                 (flags['blue'] == 1) &
                 (flags['white'] == 1)]

In [6]:
#3 Imprime o DataFrame alterado
flags[['name', 'green', 'gold', 'blue', 'white']]

                         name  green  gold  blue  white
17                     Belize      1     1     1      1
19                    Bermuda      1     1     1      1
23                     Brazil      1     1     1      1
24       British-Virgin-Isles      1     1     1      1
26                   Bulgaria      1     1     1      1
33             Cayman-Islands      1     1     1      1
34   Central-African-Republic      1     1     1      1
48                   Dominica      1     1     1      1
56         Falklands-Malvinas      1     1     1      1
57                       Fiji      1     1     1      1
71                       Guam      1     1     1      1
78                  Hong-Kong      1     1     1      1
116                Montserrat      1     1     1      1
135                   Parguay      1     1     1      1
139                  Portugal      1     1     1      1
142                   Romania      1     1     1      1
151           Soloman-Islands      1     1     1      1
158                 St-Helena      1     1     1      1
161                St-Vincent      1     1     1      1
176       Turks-Cocos-Islands      1     1     1      1
182           US-Virgin-Isles      1     1     1      1
187                 Venezuela      1     1     1      1