In [1]:
#P40: Concatenação de DataFrames incompatíveis
import pandas as pd

In [2]:
#1 Cria dois DataFrames com definição diferente
d1 = pd.DataFrame({"carro": ["Hyundai", "Renault", "Fiat"]})
d2 = pd.DataFrame({"animal": ["Capivara", "Bem-te-vi"]})

In [3]:
#2 concatena os DataFrames
d3 = pd.concat([d1, d2], ignore_index=True, sort=False)

In [4]:
print(d3)

     carro     animal
0  Hyundai        NaN
1  Renault        NaN
2     Fiat        NaN
3      NaN   Capivara
4      NaN  Bem-te-vi