In [1]:
#P29: Agregação com o método group_by()
import pandas as pd

In [2]:
#1 cria o DataFrame
dados = {"sexo": ["F", "M", "F", "F", "F", "M"],
        "bairro": ["Belverde",
                  "Belverde",
                  "Savassi",
                  "Anchieta",
                  None,
                  "Savassi"],
        "valor": [150.00,
                 35.00,
                 80.00,
                 250.00,
                 9.90,
                 25.00],
        "cartao": ["Master",
                  "Visa",
                  "Visa",
                  "Amex",
                  "Elo",
                  "Master"]}

id_clientes = [1,2,3,4,5,6]

vendas = pd.DataFrame(dados, index=id_clientes)

In [5]:
#2 Gera uma variável grouped, onde a chave é bairro e a media é valor
grupo_valor_bairro = vendas['valor'].groupby(vendas['bairro'])

In [6]:
#3 Computa agregados a partir da variável gerada
print('- quantidade de clientes, por bairro:\ ', grupo_valor_bairro.count())
print('-------------------------------------------------------------------')
print('- valor total das vendas, por bairro:\ ', grupo_valor_bairro.sum())
print('-----------------------------------------------------------------')
print('- valor médio das vendas, por bairro:\ ', grupo_valor_bairro.mean())

- quantidade de clientes, por bairro:\  bairro
Anchieta    1
Belverde    2
Savassi     2
Name: valor, dtype: int64
-------------------------------------------------------------------
- valor total das vendas, por bairro:\  bairro
Anchieta    250.0
Belverde    185.0
Savassi     105.0
Name: valor, dtype: float64
-----------------------------------------------------------------
- valor médio das vendas, por bairro:\  bairro
Anchieta    250.0
Belverde     92.5
Savassi      52.5
Name: valor, dtype: float64

In [7]:
#4 criando um grupo que cruza o valor sexo e bairro
grupo_valor_sexo_bairro = vendas['valor'].groupby([vendas['sexo'], vendas['bairro']])

In [8]:
print('- quantidade de clientes, por bairro:\ ', grupo_valor_sexo_bairro.count())
print('-------------------------------------------------------------------')
print('- valor total das vendas, por bairro:\ ', grupo_valor_sexo_bairro.sum())
print('-----------------------------------------------------------------')
print('- valor médio das vendas, por bairro:\ ', grupo_valor_sexo_bairro.mean())

- quantidade de clientes, por bairro:\  sexo  bairro
F     Anchieta    1
      Belverde    1
      Savassi     1
M     Belverde    1
      Savassi     1
Name: valor, dtype: int64
-------------------------------------------------------------------
- valor total das vendas, por bairro:\  sexo  bairro
F     Anchieta    250.0
      Belverde    150.0
      Savassi      80.0
M     Belverde     35.0
      Savassi      25.0
Name: valor, dtype: float64
-----------------------------------------------------------------
- valor médio das vendas, por bairro:\  sexo  bairro
F     Anchieta    250.0
      Belverde    150.0
      Savassi      80.0
M     Belverde     35.0
      Savassi      25.0
Name: valor, dtype: float64