In [1]:
#P41: Operações de conjuntos
import pandas as pd

In [2]:
#1 Cria dois DataFrames com os emails
df_sql = pd.DataFrame({"email": ["rakesh@xyz.com",
                                "ecg@acmecorpus.com"]})

df_python = pd.DataFrame({"email": ["ana@xyz.com",
                                   "jonas@acmecorpus.com",
                                   "rakesh@xyz.com"]})

In [5]:
#2 Efetua as operações de conjuntos
#2.1 União
alunos = pd.concat([df_sql, df_python], ignore_index=True)
alunos = alunos.drop_duplicates()

#2.2 Interseção
sql_e_python = df_sql.merge(df_python)

#2.3 Diferença (quem fez um, mas não fez o outro)
so_sql = df_sql[df_sql.email.isin(df_python.email)==False]
so_python = df_python[df_python.email.isin(df_sql.email)==False]

In [6]:
#Imprime os resultados
print('-------------------------------------')
print('Alunos distintos:')
print(alunos)
print('-------------------------------------')
print('Alunos cursaram SQL e Python')
print(sql_e_python)
print('-------------------------------------')
print('Alunos que cursaram so sql')
print(so_sql)
print('-------------------------------------')
print('Alunos que cursaram so Python')
print(so_python)

-------------------------------------
Alunos distintos:
                  email
0        rakesh@xyz.com
1    ecg@acmecorpus.com
2           ana@xyz.com
3  jonas@acmecorpus.com
-------------------------------------
Alunos cursaram SQL e Python
            email
0  rakesh@xyz.com
-------------------------------------
Alunos que cursaram so sql
                email
1  ecg@acmecorpus.com
-------------------------------------
Alunos que cursaram so Python
                  email
0           ana@xyz.com
1  jonas@acmecorpus.com