In [2]:
#P44: Junção interna
import pandas as pd

In [6]:
#1 Cria os DataFrames depto e emp
dic_depto = {'id': ['D1', 'D2', 'D3', 'D4'],
            'nomDepto': ['Compras', 'RH', 'TI', 'Vendas'],
            'local': ['SP', 'RJ', 'RJ', 'SP']}

dic_emp = {'num': [3199, 3269, 3555, 3788, 3844],
          'nome': ['Ana', 'David', 'José', 'Marina', 'Luís'],
          'salario': [1600, 2975, 1500, 5000, 3000],
          'idDepto': ['D2', 'D3', None, 'D2', 'D4']}

In [7]:
depto = pd.DataFrame(dic_depto)
emp = pd.DataFrame(dic_emp)

In [9]:
#2 Efetua a operação de junção
juncao_interna = pd.merge(emp, depto, left_on="idDepto", right_on="id")

print('----------------------------')
print('Depto:')
print(depto)
print('----------------------------')
print('Emp:')
print(emp)
print('----------------------------')
print('Juncao interna:')
print(juncao_interna)

----------------------------
Depto:
   id nomDepto local
0  D1  Compras    SP
1  D2       RH    RJ
2  D3       TI    RJ
3  D4   Vendas    SP
----------------------------
Emp:
    num    nome  salario idDepto
0  3199     Ana     1600      D2
1  3269   David     2975      D3
2  3555    José     1500    None
3  3788  Marina     5000      D2
4  3844    Luís     3000      D4
----------------------------
Juncao interna:
    num    nome  salario idDepto  id nomDepto local
0  3199     Ana     1600      D2  D2       RH    RJ
1  3788  Marina     5000      D2  D2       RH    RJ
2  3269   David     2975      D3  D3       TI    RJ
3  3844    Luís     3000      D4  D4   Vendas    SP

In [10]:
#selecionado só as colunas que me interessam
fatia = juncao_interna[['num', 'nome', 'nomDepto']]
print(fatia)

    num    nome nomDepto
0  3199     Ana       RH
1  3788  Marina       RH
2  3269   David       TI
3  3844    Luís   Vendas