In [1]:
#P52: Método replace()
import pandas as pd

In [2]:
#1 Importa as bases de dados
flags = pd.read_csv('/Users/TullioPires/flags.csv')

In [3]:
#2 Replace
flags['green'] = flags['green'].replace([0,1], ['Não', 'Sim'])

In [4]:
#3 Imprime o DataFrame ALT
flags[['name', 'green']]

               name green
0       Afghanistan   Sim
1           Albania   Não
2           Algeria   Sim
3    American-Samoa   Não
4           Andorra   Não
..              ...   ...
189   Western-Samoa   Não
190      Yugoslavia   Não
191           Zaire   Sim
192          Zambia   Sim
193        Zimbabwe   Sim

[194 rows x 2 columns]