In [1]:
#P55: Aplicando a função classe_area()
import pandas as pd

In [2]:
#1 Define a função
def classe_area(area):
    if (area<10):
        return 'F'
    elif (area >= 10 and area<50):
        return 'E'
    elif (area >=100 and area<500):
        return 'C'
    elif (area>=500 and area<1000):
        return 'B'
    else:
        return 'A'

In [3]:
#2 Importa as bases de dados
flags = pd.read_csv('/Users/TullioPires/flags.csv')

In [4]:
#3 Aplica a função com apply(), criando novo atributo/coluna
flags['classe_area'] = flags['area'].apply(classe_area)

In [6]:
#4 Imprime o Data Frame ALT
flags[['name',
      'area',
      'classe_area']].set_index('name')

                area classe_area
name
Afghanistan      648           B
Albania           29           E
Algeria         2388           A
American-Samoa     0           F
Andorra            0           F
...              ...         ...
Western-Samoa      3           F
Yugoslavia       256           C
Zaire            905           B
Zambia           753           B
Zimbabwe         391           C

[194 rows x 2 columns]