In [1]:
#P56: Normalização
import pandas as pd

In [2]:
#1 Importa a base de dados
flags = pd.read_csv('/Users/TullioPires/flags.csv')

In [3]:
#2 normaliza a área
area_max = max(flags['area'])
area_min = min(flags['area'])
flags['area_norm'] = (flags['area'] - area_min)/(area_max-area_min)

In [7]:
#Imprime o resultado
flags[['name',
      'area',
      'area_norm']].set_index('name')

                area  area_norm
name
Afghanistan      648   0.028926
Albania           29   0.001295
Algeria         2388   0.106598
American-Samoa     0   0.000000
Andorra            0   0.000000
...              ...        ...
Western-Samoa      3   0.000134
Yugoslavia       256   0.011428
Zaire            905   0.040398
Zambia           753   0.033613
Zimbabwe         391   0.017454

[194 rows x 2 columns]